* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --ff-h: 'Staatliches', cursive;
  --ff-p: 'Palanquin', sans-serif;
}

body {
  width: 38rem;
  max-height: 200rem; 
  background: #EFF1FF; 
  margin: 0 auto;
}

header {
  background: #8E9AAF;
  height: 28rem;
  text-align: center;
}

header img {
  width: 15rem;
  height: 15rem;
  margin-top: 3.2rem;
}

header h1 {
  color: #FFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: var(--ff-h);
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 2px;
  background: #CBC0D3;
  margin: 3.2rem 0 2.9rem;
}

main {
  padding: 1.4rem 6rem 3.2rem;
}

main p {
  color: #23053A;
  text-align: center;
  font-family: var(--ff-p);
  font-size: 1.5rem; 
  line-height: 1.5rem;
  margin-bottom: 6.3rem;  
}

.cards {
  display: grid;
  gap: 3.2rem;
}

.card {  
  position: relative;
}

.card img {
  width: 100%;  
  animation: downtop;
  animation-duration: 1s;
}

.card h3 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 11rem;
  height: 3.5rem;
  border-radius: 2rem;
  background: #FEEAFA;
  font-family: var(--ff-h);
  color: #4A4E69;
  font-size: 2.0rem;  
  font-weight: 400;
  line-height: 3.4rem; 
  letter-spacing: 1px;
  padding: 1px 2.4rem;
  animation: topdown 1s 200ms backwards;  
}

@keyframes topdown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

aside, footer, .cards div:nth-child(5), .cards div:nth-child(6) {
  display: none;
}

@media (min-width: 1400px) {
  header {
    display: none;
  }

  aside, footer, .cards div:nth-child(5), .cards div:nth-child(6) {
    display: initial;
  }

  body {
    display: flex;
    width: 128rem; 
  }
  
  aside {
    background: #8E9AAF;
    width: 38rem;
    height: auto;
    padding: 3.2rem 0 12.5rem;
    align-items: center;
    text-align: center;
    
  }
  
  aside img {
    width: 21rem;
    height: 21rem;
  }
  
  aside h1 {
    background: #CBC0D3;
    width: 38rem;
    height: 7rem;
    padding: 2rem 7.4rem;
    margin-bottom: 3.2rem;
    font-family: Staatliches;
    color: #FFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 3.4rem;
  }
  
  aside p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 2.3rem;
    padding: 0 4.8rem;
    letter-spacing: 1px;
  }
  
  .page {
    display: grid;
  }
  
  main  {   
    padding: 3rem 5rem 0; 
    width: 90rem;
    height: auto;  
  }
  
  .cards {
    display: grid;
    gap: 3.2rem; 
    grid-template-areas: 
    "A B C"
    "D B E"
    "D F E";    
  }
  
  .card img {
    width: 100%;
    height: 100%;
  }
  
  footer {  
    margin: 5rem auto 4.6rem;
    color: #4A4E69;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    
  }
  
  footer a {
    text-decoration: none;
    color: #4A4E69;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.8rem;
  }
  
  .cards div:nth-child(1) {
    grid-area: A;
    animation: up;
    animation-duration: 1s;
  }
  
  .cards div:nth-child(2) {
    grid-area: D;
    animation: up;
    animation-duration: 1s;
  }
  .cards div:nth-child(3) {
    grid-area: F;
    animation: down;
    animation-duration: 1s;
  }
  .cards div:nth-child(4) {
    grid-area: B;
    animation: down;
    animation-duration: 1s;
  }
  .cards div:nth-child(5) {
    grid-area: C;
    animation: up;
    animation-duration: 1s;
  }
  .cards div:nth-child(6) {
    grid-area: E;
    animation: up;
    animation-duration: 1s;
  } 
  
  @keyframes up {
    0% {
      opacity: 0.5;
      transform: translateY(200px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes down {
    0% {
      opacity: 0.5;
      transform: translateY(-200px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}